{
  "env": {
    "development": {
      "presets": ["@babel/preset-env"],
      "plugins": [
        "@babel/plugin-transform-arrow-functions",
        "@babel/plugin-proposal-class-properties"
      ]
    },
    "production": {
      "presets": ["@babel/preset-env"],
      "plugins": [
        "@babel/plugin-transform-arrow-functions",
        "@babel/plugin-proposal-class-properties"
      ]
    }
  }
}
