// Variables
$color-text: black;

/* Color Theme Swatches in Hex */
$Backgrounds1: #048abf;
$Backgrounds2: #04bfbf;
$Backgrounds3: #04bf7b;
$Backgrounds4: #038c5a;
$Backgrounds5: #f2d7b6;

html {
  //box-sizing: border-box;
}

body {
  background: $Backgrounds1;
  color: $color-text;
  font-family: "Calibri", Helvetica, sans-serif;
}

.main-container {
  .shopping-car-container {
    .shopping-car {
      max-width: 30vh;
    }
  }

  padding: 10px 10px;
  .showcase {
    .showcase-items {
      border: 2px solid black;
      .row:not(:last-child) {
        border-bottom: 2px solid black;
      }
      .showcase-item {
        img {
          cursor: move;
        }
        &:not(:last-child) {
          border-right: 2px solid black;
        }
      }
    }
  }
}

/* Draggable styles*/
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.onDragStart {
  border: 2px dashed #000;
  opacity: 0.4;
}
