<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="ie=edge" http-equiv="x-ua-compatible">
  <meta name="robots" content="noindex,nofollow">
  <meta name="description" content="GeeksHubs Practice 2 using ES6, SASS, Bootstrap">
  <meta name="keywords" content="geekshubs, practice, es6+, sass, webpack, html5, boostrap">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link href="./favicon.ico" rel="shortcut icon">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</head>

<body>
  <!-- <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"><%= htmlWebpackPlugin.options.title %></a>
    </nav>
  </header> -->
  <main>
    <div class="main-container">
      <div class="container shopping-car-container justify-content-center">
        <div class="row justify-content-center">
          <div class="col-12 shopping-car">
            <!-- <div ondrop="drop(event)" ondragover="allowDrop(event)"> -->
            <div id="dropShoppingCar">
              <img src="./assets/img/redi/shopping-car.png" class="img-fluid" alt="barrita">
            </div>
          </div>
        </div>
      </div>
      <div class="container showcase justify-content-center">
        <div class="col-12 showcase-items">
          <div class="row">
            <div class="col-3 showcase-item">
              <div class="dragabble" draggable="true" id="barrita">
                <img src="./assets/img/redi/barrita.jpg" class="img-fluid" alt="barrita">
              </div>
            </div>
            <div class="col-3 showcase-item">
              <div class="dragabble" draggable="true" id="agua">
                <img src="./assets/img/redi/agua.png" class="img-fluid" alt="barrita">
              </div>
            </div>
            <div class="col-3 showcase-item">
              <div class="dragabble" draggable="true" id="cocacola">
                <img src="./assets/img/redi/cocacola.jpg" class="img-fluid" alt="barrita">
              </div>
            </div>
            <div class="col-3 showcase-item">
              <div class="dragabble" draggable="true" id="lays">
                <img src="./assets/img/redi/lays.png" class="img-fluid" alt="barrita">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

</html>